<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="save_placed_order_to_registry" instance="Iconocoders\OtpSimple\Observer\AddOrderIdToSession"/>
    </event>
    <event name="sales_order_payment_save_before">
        <observer name="payment_before_save" instance="Iconocoders\OtpSimple\Observer\BeforeOrderPaymentSaveObserver" />
    </event>
</config>